.body {
    width: 1366px;
    height: 800px;

}
.main-section {
    background-image: url(../img/background-image.png);
    width: 100%;
    height: 100%;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 715px;
 
}
.contacts a {
    text-decoration: none;
    color: #FFFFFF;
    Font-size: 18px;
    Line-height: 18px;
    font-family: roboto, sanserif;
}
 
.post-description {
    Font-family: Roboto, sanserif;
    Font-size: 18px;
    Line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}
.post-item {
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    cursor: pointer;

}
.container-of-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1068px;
    height: 518px;
    grid-gap: 62px;
    margin-left: 165px;
    margin-top: 22px;
}
.header-title {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-right: 25px;
}
.header-title-first-row {
    Font-style: Bold;
    Font-size: 29px;
    line-break: 29px;
}
.header-title-first-row:hover {
    color :#F26522;
}   
.header-title:hover {
    color :#F26522;
}
.selected:hover {
    color :#F26522;
}
.introductory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 200px;
    height: 47px;
    grid-gap: 0;
}
.main-section-details {
    margin-left: 84px;
    margin-top: 51px;
}

.post-item-price-details {
    color: #FFFFFF;
    Font-family: Roboto, sanserif;
    Font-size: 14px;
    Line-height: 14px;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    background-image: url(../img/Hover-bg.png);
    
    width: 300px;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.first-row {
    top: 352px;
}
.second-row {
    top: 678px;
}
.post-item-price-details:last-child {
    justify-items: flex-end;
}
.post-item-price-details:hover {
    opacity: 1;

}
.post-item-image {
    object-fit: cover;
    width: 299px;
    height: 220px;
}
.footer-description {
    Font-family: Roboto, sanserif;
    Font-size: 12px;
    Line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 125px;
    margin-right: 530px;
    margin-bottom: 15px;
}
.post-description:hover {
    color :#F26522;
}
.from-post {
    font-size: 10px;
}
.price-post {
    font-size: 20px;
}
.view-details {
    font-size: 14px;
}